<form [formGroup]="myFirstReactiveForm" (submit)="onSubmit()" *ngIf="myFirstReactiveForm">
  <label for="email">Email</label>
  <input type="text" id="email" formControlName="email"  />
  <br/><br/>
  <div class="error" *ngIf="isControlInvalid('email')">
    Некорректный email
  </div>

  <label for="password">Password</label>
  <input type="text" id="password" formControlName="password" />
  <br/><br/>

  <button type="submit">Send</button>

  <div>{{myFirstReactiveForm.value | json}} </div>
</form>
