<div class="content-box">
  <h1 class='welcome'>Welcome {{userName}} ! </h1>
  <h3>Posts:</h3>

  <div *ngIf="posts">

    <div *ngFor="let post of posts">
      User: {{post.user.name}} {{post.user.email}}
      <div> Message: {{post.message}}</div>
      <button>See the answers</button>
    </div>

  </div>

  <form [formGroup]="messageReactiveForm" (submit)="onSubmit()" *ngIf="messageReactiveForm">
    <label for="message">Message</label>
    <input type="text" id="message" formControlName="message"  />
    <br/><br/>


    <button type="submit">Send</button>

  </form>

</div>
<!--<li *ngFor="let hero of heroes">-->
<!--  <a routerLink="/detail/{{hero.id}}">-->
<!--    <span class="badge">{{hero.id}}</span> {{hero.name}}-->
<!--  </a>-->
<!--</li>-->
