.answer-block {
  display: inline-block;
  .user {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
    position: relative;
    border: 2px solid #574159;
    //width: 20%;
  }

  .message {
    display: inline-block;
    position: relative;
    margin-left: 100px;
  }
}

